.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
    width: 100vw;
    padding: 0;
}
.logoContainer {
    flex-grow: 1;
    margin-left: 2em;
}
.logo {
    width: 7em;
    height: 7em;
    border-radius: 50%;
}
.navigation {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}
.navigation-section {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: black !important;
    padding: 0 1em;
    font-weight: 500;
    font-size: 2rem;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-bottom: 2em;
}

.nav-btn {
    background: none;
    border: none;
    display: none;
    position: absolute;
    right: 1em;
    color: saddlebrown !important;
    top: 1em;
    transform: scale(1.8);
    z-index: 9999;
}

.navigation-show {
    position: absolute;
    left: 0;
    top: 8em;
    width: 100vw;
    background-color: gray;
    transition: 1s;
    text-align: center;
}


/*Media queries*/

@media(max-width: 780px) {
    .navigation-section {
        position: absolute;
        display: block;
        width: 100vw;
        top: -100%;
        left: 0;
        transition: 3s;
        text-align: center;
    }
    .nav-btn {
        display: flex;
    }
}

